<!-- app/views/posts/_edit_modal.html.erb -->
<div class="modal fade" id="editPostModal" tabindex="-1" role="dialog" aria-labelledby="editPostModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body" id="editPostModalBody">
        <!-- Edit form content will be loaded here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="closebutton" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
